app/build.gradleapp/
apply plugin: 'com.android.application'
apply plugin: 'kotlin-android'
apply plugin: 'kotlin-android-extensions'
android {
    compileSdkVersion 25
    compile 'com.android.support.constraint:constraint-layout:1.0.2'
        testCompile 'junit:junit:4.12'
        compile "org.jetbrains.kotlin:kotlin-stdlib-jre7:$kotlin_version"
        compile "org.jetbrains.anko:anko-common:0.9.1"
    }
    repositories {
        mavenCentral()import android.support.v7.app.AppCompatActivity
                      import android.os.Bundle
                      import kotlinx.android.synthetic.main.activity_main_bonus.*
                      import org.jetbrains.anko.toast

                      class MainActivity : AppCompatActivity() {

                          override fun onCreate(savedInstanceState: Bundle?) {
                              super.onCreate(savedInstanceState)
                              setContentView(R.layout.activity_main)
                              setContentView(R.layout.activity_main_bonus)

                              button.setOnClickListener { toast("Message: ${input.text}") }
                          }
                      }<?xml version="1.0" encoding="utf-8"?>
                       <LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
                           android:layout_width="match_parent"
                           android:layout_height="match_parent"
                           android:orientation="vertical">

                           <EditText
                               android:id="@+id/input"
                               android:layout_width="wrap_content"
                               android:layout_height="wrap_content"
                               android:hint="Insert your message" />

                           <Button
                               android:id="@+id/button"
                               android:layout_width="wrap_content"
                               android:layout_height="wrap_content"
                               android:text="Click" />
print "hello world"

